.inputLayout
{
   width: 100px;
   float: left;
}

body
{
   background-color: lightgray;
}

@media screen and (max-width: 450px)
{
   body
   {
      background-color: blue;
   }

   .inputLayout
   {
      width: 75px;
      float: none;
   }
}
